<div class="Container">
  <h1>Teste Bootstrap</h1>
  <div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img src="./../assets/img/logo_horacio.png" />
        </div><!--fim card-body-->
      </div><!--fim card-->
    </div><!--fim col-->

    <div class="col">
      <div class="card">
        <div class="card-body">
          <img src="./../assets/img/crud.png" />
        </div>
      </div>
    </div>
  </div><!-- fim row -->

  <div class="apresentacao">
    <div class="card" style="width: 18rem;">
      <img src="./../assets/img/foto_rosto_Erickon.png" class="card-img-top" alt="...">
      <div class="card-body1">
        <h5 class="card-title" style="text-align: center;">Erickson Vegas</h5>
        <p class="card-text">Estudante de Desenvolvimento de Sistemas com o intuito de ingressar na area de ti.</p>
        <a href="https://https://github.com/Vegasdsilva" class="btn btn-primary">GitHub</a>
      </div>
    </div>
  </div>

</div>
  <router-outlet></router-outlet>

